APP_ENV={{ app_env }}
APP_DEBUG={{ app_debug }}
APP_KEY={{ app_key }}

DB_CONNECTION={{ db_connection }}
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_DATABASE={{ db_database }}
DB_USERNAME={{ db_username }}
DB_PASSWORD={{ db_password }}

CACHE_DRIVER={{ cache_driver }}
SESSION_DRIVER={{ session_driver }}
QUEUE_DRIVER={{ queue_driver }}

MAIL_DRIVER={{ mail_driver }}
MAIL_PRETEND={{ mail_pretend }}

# Mailgun domain and api-key
MAILGUN_DOMAIN={{ mailgun_domain }}
MAILGUN_SECRET={{ mailgun_secret }}

# Comma-delimited ip address of trusted proxies
TRUSTED_PROXIES={{ trusted_proxies }}

# Switches to set below here
ACCESSLOG_SWITCH={{ accesslog_switch }}
QUEUE_SWITCH={{ queue_switch }}

ELASTICSEARCH_HOST={{ elasticsearch_host }}
ELASTICSEARCH_INDEX={{ elasticsearch_index }}
ELASTICSEARCH_TYPE={{ elasticsearch_type }}